version: '3.4'

networks:
  backend:
    external: 
      name: qoestream-platform_backend

volumes:
  trade_exporter_data: 
    name: trade_exporter_data

services: 
  trade-exporter:
    build:
      context: ./
      dockerfile: .docker/api.dev.dockerfile
    container_name: trade_exporter
    working_dir: /var/www
    volumes: 
      - ./:/var/www
      # - /var/www/node_modules
    command: npm start
    networks:
      - backend
    ports:
      - 3010:3010

  # trade-exporter-proxy:
  #   build:
  #     context: ./
  #     dockerfile: .docker/nginx.dev.dockerfile
  #   container_name: trade_exporter_proxy
  #   depends_on:
  #     - trade-exporter
  #   volumes:
  #     - trade_exporter_data:/var/www
  #   networks: 
  #     - backend
  #   ports:
  #     - 9000:443